<h2 class="text-center">Uploaded Successfully</h2>
<div class="row">
  <div class="col-md-2"></div>
  <div class="text-center col-md-8">
    <%= link_to "Upload another one", import_index_path, class: "btn btn-lg btn-success" %>
  </div>
  <div class="col-md-2"></div>
</div>
